Hello Mr. ${name},

As per request your password got reset. Use below password to login.

Password:- ${password}

If you are not able to login, please reset again or contact to admin.

Note: This is system generated password, after login please change your password.

For,
Hangover Pvt Ltd