Hi Mr ${name},

Welcome in Hangover.

Your login Credential

    username: ${username}
    #*password: ${password}*#

Click here to login to hangover.

Note: This is computer generated copy. Do no reply.

For,
Liquor at door